<section class="about section">
  <div class="container">
    <div class="about__set">
      <h2 class="about__title" id="about">how it’s made?</h2>
      <p class="about__subtitle">tradition and love</p>
    </div>
    <div class="about__block">
      <div class="about__box">
        <span class="about__image"></span>
      </div>
      <div class="about__paragraph">
        <p class="about__text">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about__text">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="about__text about__hidden">
          This is enough to choose ice cream and coffee for any mood!
        </p>
        <!-- </div> -->
        <button type="button" class="about-btn btn" data-about-modal-open>Read more<svg width="11" height="11" class="about-btn__icon">
            <use href="./images/svg/icon.svg#icon-small_arrow"></use>
        </svg>
        </button>
      </div>
      <div class="about-backdrop is-hidden" data-about-modal>
                <div class="about-modal">
                    <div class="about-modal__field">
                    <p class="about-modal__title">How it’s made?</p>
                    <iframe class="about-modal__video" width="224" height="199" src="https://www.youtube.com/embed/zagD0LQdsDE?start=21" 
                    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                     allowfullscreen></iframe>
                    <p class="about-modal__text">
                     Since childhood, we remember well the taste of milk and many other dairy products.
                     And if not everyone likes milk, then neither adults nor children refuse sweet chilled 
                     ice cream.   
                    </p>

                    <button class="about-btn-close" data-about-modal-close>
                    <svg width="12" height="12" class="close-icon">
                        <use href="./images/svg/icon.svg#icon-close_button_cross"></use>
                    </svg>
                </button>
                </div>
                </div>
            </div>
    </div>
  </div>
</section>
