<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__items list">
      <li class="advantages__card icon-frame">
        <h2 class="advantages__title">721</h2>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__card icon-weight">
        <h2 class="advantages__title">16kg</h2>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__card icon-ice-cream">
        <h2 class="advantages__title">84</h2>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>