<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Переваги</h2>
    <ul class="advantages__items list">
      <li class="advantages__card">
        <div class="advantages__icon">
          weight
        </div>
        <h2 class="advantages__quote">721</h2>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__card">
        <div class="advantages__icon">
          weight
        </div>
        <h2 class="advantages__quote">16kg</h2>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__card">
        <div class="advantages__icon">
          weight
        </div>
        <h2 class="advantages__quote">84</h2>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>