<section class="contacts">
 <div class="container">
  <h2 class="visually-hidden">Contacts</h2>
<ul class="contacts__list list">
<li class="contacts__item">
     <p class="contacts-title">CAFE</p>
 <address class="address">
    <ul class="address__list list">
      <li class="address__city">Chicago</li>
      <li class="address__map"><a href="https://goo.gl/maps/Kw5vxRkoTpCiJcF1A" target="_blank" 
        rel="noreferrer nofollow noopener"></a>10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</li>
    </ul>
</address>
    <ul class="time-work__list list">
      <li class="time-work__card">
        <p class="time-work__week">Monday - Friday</p>
        <p class="time-work__time">06:00 AM - 10:00 PM</p>
      </li>
      <li class="time-work__card">
        <p class="time-work__week">Saturday - Sunday</p>
        <p class="time-work__time">08:00 AM - 16:00 PM</p>
      </li>
    </ul>
    <ul class="communication__link list"> 
       <li><a class="communication__phone" href="tel:+610383766284"></a>+61(0) 383 766 284</li>
       <li><a class="communication__mail" href="mailto:noreply@envato.com"></a>noreply@envato.com</li>
    </ul>
</li>
<li class="contacts__item">
      <p class="contacts-title cont-title">FOOD TRUCK</p>
 <address class="address">
    <ul class="address__list list">
      <li class="address__city">Los Angeles</li>
      <li class="address__map"><a href="https://goo.gl/maps/5bCQuFrbS8B1dVzc8" target="_blank" 
       rel="noreferrer nofollow noopener"></a>1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</li>
    </ul>
</address>
    <ul class="time-work__list list">
      <li class="time-work__card">
        <p class="time-work__week">Monday - Friday</p>
        <p class="time-work__time">06:00 AM - 10:00 PM</p>
      </li>
      <li class="time-work__card">
        <p class="time-work__week">Saturday - Sunday</p>
        <p class="time-work__time">08:00 AM - 16:00 PM</p>
      </li>
    </ul>
    <ul class="communication__link list"> 
       <li><a class="communication__phone" href="tel:+610383766284"></a>+61(0) 383 766 284</li>
       <li><a class="communication__mail" href="mailto:noreply@envato.com"></a>noreply@envato.com</li>
    </ul>
</li>
<li class="contacts__item">
       <p class="contacts-title">CAFE</p>
<address class="address">
    <ul class="address__list list">
      <li class="address__city">New York</li>
      <li class="address__map"><a href="https://goo.gl/maps/jNL78KUo4v3V4BWY6" target="_blank" 
        rel="noreferrer nofollow noopener"></a>726 Sterling Pl, Brooklyn, NY 11222, USA</li>
    </ul>
</address>
    <ul class="time-work__list list">
      <li class="time-work__card">
        <p class="time-work__week">Monday - Friday</p>
        <p class="time-work__time">06:00 AM - 10:00 PM</p>
      </li>
      <li class="time-work__card">
        <p class="time-work__week">Saturday - Sunday</p>
        <p class="time-work__time">08:00 AM - 16:00 PM</p>
      </li>
    </ul>
    <ul class="communication__link list"> 
      <li class="communication__phone"><a href="tel:+610383766284"></a>+61(0) 383 766 284</li>
      <li class="communication__mail"><a  href="mailto:noreply@envato.com"></a>noreply@envato.com</li>
</ul>
</li>
</ul>
<ul class="contacts__modal list">
   <li class="contacts__modal-item">
      <button class="contacts__btn" type="button" data-modal-open>Our Locations
</button>
   </li>
   <li class="contacts__btn-item">
      <button class="contacts__btn" type="button" data-modal-open>Franchise
</button>
   </li>
</ul>
</div> 
</section> 