<section class="contacts" id=contacts>
 <div class="container">
  <h2 class="visually-hidden">Contacts</h2>
<ul class="contacts__list">
<li class="contacts__item">
     <p class="contacts-title">CAFE</p>
 <address class="address">
    <ul class="address__list">
      <li class="address__city">Chicago</li>
      <li class="address__map"><a href="https://goo.gl/maps/Kw5vxRkoTpCiJcF1A" class="address__text" target="_blank" 
        rel="noreferrer nofollow noopener">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a></li>
    </ul>
</address>
    <ul class="time-work__list">
      <li class="time-work__card">
        <p class="time-work__week">Monday - Friday</p>
        <p class="time-work__time">06:00 AM - 10:00 PM</p>
      </li>
      <li class="time-work__card">
        <p class="time-work__week">Saturday - Sunday</p>
        <p class="time-work__time">08:00 AM - 16:00 PM</p>
      </li>
    </ul>
    <ul class="communication__link"> 
       <li><a class="communication__phone" href="tel:+610383766284">+61(0) 383 766 284</a></li>
       <li><a class="communication__mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    </ul>
</li>
<li class="contacts__item">
      <p class="contacts-title cont-title">FOOD TRUCK</p>
 <address class="address">
    <ul class="address__list">
      <li class="address__city">Los Angeles</li>
      <li class="address__map"><a href="https://goo.gl/maps/5bCQuFrbS8B1dVzc8" class="address__text" target="_blank" 
       rel="noreferrer nofollow noopener">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a></li>
    </ul>
</address>
    <ul class="time-work__list">
      <li class="time-work__card">
        <p class="time-work__week">Monday - Friday</p>
        <p class="time-work__time">06:00 AM - 10:00 PM</p>
      </li>
      <li class="time-work__card">
        <p class="time-work__week">Saturday - Sunday</p>
        <p class="time-work__time">08:00 AM - 16:00 PM</p>
      </li>
    </ul>
    <ul class="communication__link"> 
       <li><a class="communication__phone" href="tel:+610383766284">+61(0) 383 766 284</a></li>
       <li><a class="communication__mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
    </ul>
</li>
<li class="contacts__item">
       <p class="contacts-title">CAFE</p>
<address class="address">
    <ul class="address__list">
      <li class="address__city">New York</li>
      <li class="address__map"><a href="https://goo.gl/maps/jNL78KUo4v3V4BWY6" class="address__text" target="_blank" 
        rel="noreferrer nofollow noopener">726 Sterling Pl, Brooklyn, NY 11222, USA</a></li>
    </ul>
</address>
    <ul class="time-work__list">
      <li class="time-work__card">
        <p class="time-work__week">Monday - Friday</p>
        <p class="time-work__time">06:00 AM - 10:00 PM</p>
      </li>
      <li class="time-work__card">
        <p class="time-work__week">Saturday - Sunday</p>
        <p class="time-work__time">08:00 AM - 16:00 PM</p>
      </li>
    </ul>
    <ul class="communication__link"> 
      <li><a class="communication__phone" href="tel:+610383766284">+61(0) 383 766 284</a></li>
      <li><a class="communication__mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
   </ul>
</li>
</ul>
<ul class="contacts__modal">
   <li class="contacts__modal-item">
      <button class="contacts__btn-loc" type="button" data-modal-loc-open>Our Locations
<svg width="12" height="12" class="btn-icon">
  <use href="images/svg/icon.svg#icon-small_arrow" class="icon-vector"></use>
</svg>
      </button>
   </li>
   <li class="contacts__btn-item">
      <button class="contacts__btn-fran" type="button" data-modal-fran-open>Franchise
        <svg width="12" height="12" class="btn-icon">
          <use href="images/svg/icon.svg#icon-small_arrow" class="icon-vector"></use>
        </svg>
      </button>
   </li>
</ul>
</div> 
</section> 