<section class="gallery" id="gallery">
  <div class="container gallery__container">
    <h2 class="gallery__title visually-hidden">Gallery</h2>
    <ul class="gallery__list" id="slides">
      <li class="gallery__slide slide showing">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-slide1-desk-1x.jpg 1x,
              ./images/gallery/gallery-slide1-desk-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-slide1-tablet-1x.jpg 1x,
              ./images/gallery/gallery-slide1-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-slide1-mob-1x.jpg 1x,
              ./images/gallery/gallery-slide1-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/gallery/gallery-slide1-desk-1x.jpg"
            alt="Ice cream cones"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__slide slide showing">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-slide2-desk-1x.jpg 1x,
              ./images/gallery/gallery-slide2-desk-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-slide2-tablet-1x.jpg 1x,
              ./images/gallery/gallery-slide2-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-slide2-mob-1x.jpg 1x,
              ./images/gallery/gallery-slide2-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/gallery/gallery-slide2-desk-1x.jpg"
            alt="Ice cream cones with sprinkles"
            class="gallery__img"
          />
        </picture>
      </li>
      <li class="gallery__slide slide showing">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-slide3-desk-1x.jpg 1x,
              ./images/gallery/gallery-slide3-desk-2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-slide3-tablet-1x.jpg 1x,
              ./images/gallery/gallery-slide3-tablet-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-slide3-mob-1x.jpg 1x,
              ./images/gallery/gallery-slide3-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/gallery/gallery-slide3-desk-1x.jpg"
            alt="Ice cream on sticks"
            class="gallery__img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
