<header class="header">
    <div class="nav-contact container">
        <a href="./index.html" class="logo link">
            <svg width="44" height="48">
                <use href="./images/icons.svg#icon-logo"></use>
            </svg>
        </a>

        <nav class="nav">
            <ul class="nav__list list">
                <li class="nav__item"><a class="nav__link link" href="./index.html">Home</a></li>
                <li class="nav__item"><a class="nav__link link" href="#about">How it’s made?</a></li>
                <li class="nav__item"><a class="nav__link link" href="#products">Our products</a></li>
                <li class="nav__item"><a class="nav__link link" href="#contacts">Contact</a></li>
            </ul>
        </nav>        

        <button type="button" class="nav__menu-btn">
            <svg width="32" height="32">
                <use href="./images/icons.svg#icon-eva" class="icon-menu"></use>
            </svg>
        </button>

        <button type="button" class="nav__btn">Buy now ></button>
    </div>
    
    <div class="mobile-menu container">
        <div class="menu-content">
            <a href="./index.html" class="logo link">
                <svg width="44" height="48">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
            </a>
            <button type="button" class="menu-close">
                <svg width="32" height="32">
                    <use href="./images/icons.svg#icon-close" class="menu-content__close-icon"></use>
                </svg>
            </button>
            
            <nav class="mob-nav">
                <ul class="mob-nav__list list">
                    <li class="mob-nav__item"><a class="mob-nav__link link" href="./index.html">Home</a></li>
                    <li class="mob-nav__item"><a class="mob-nav__link mob-pretitle link" href="">How it’s made?</a></li>
                    <li class="mob-nav__item"><a class="mob-nav__link link" href="">Our products</a></li>
                    <li class="mob-nav__item"><a class="mob-nav__link link" href="">Contact</a></li>
                </ul>
                <button type="button" class="mob-nav__btn">Buy now ></button>
            </nav>       
        </div>
    </div>
