<header class="header container">
  <div class="nav-contact">
    <div class="header__logo">
      <a href="./index.html" class="logo link">
        <picture>
          <source
            srcset="
            ./images/header/logodesk@1x.png 1x,
            ./images/header/logodesk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/header/logotabl@1x.png 1x,
              ./images/header/logotabl@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/header/logomob@1x.png 1x,
              ./images/header/logomob@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/header/logodesk@1x.png"
            alt="logo"
            class="logo__img"
          />
        </picture>
      </a>
    </div>

    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a class="nav__link link" href="./index.html">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#about">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#products">Our products</a>
        </li>
        <li class="nav__item">
          <a class="nav__link link" href="#contacts">Contact</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="menu-btn" data-menu-open>
      <svg width="32" height="32">
        <use href="./images/hero/icons.svg#icon-eva" class="icon-menu"></use>
      </svg>
    </button>

    <button
      type="button"
      class="nav__btn js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      Buy now
      <svg class="nav-btn-icon" width="12" height="12">
        <use
          href="./images/svg/icon.svg#icon-small_arrow"
          class="arrow-icon"
        ></use>
      </svg>
    </button>
  </div>

  <div class="mobile-menu">
    <div class="menu-content is-hidden container" data-menu>
      <div class="mob-content__logo">
        <a href="./index.html" class="logo link">
          <svg width="48" height="48">
            <use href="./images/hero/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <div>
          <button type="button" class="menu-close" data-menu-close>
            <svg width="32" height="32">
              <use
                href="./images/hero/icons.svg#icon-close"
                class="menu-content__close-icon"
              ></use>
            </svg>
          </button>
        </div>
      </div>

      <nav class="mob-nav__content">
        <ul class="mob-nav__list list">
          <li class="mob-nav__item">
            <a class="mob-nav__link link" href="./index.html">Home</a>
          </li>
          <li class="mob-nav__item">
            <a class="mob-nav__link link" href="#about">How it’s made?</a>
          </li>
          <li class="mob-nav__item">
            <a class="mob-nav__link link" href="#products">Our products</a>
          </li>
          <li class="mob-nav__item">
            <a class="mob-nav__link link" href="#contacts">Contact</a>
          </li>
        </ul>
        <button type="button" class="mob-nav__btn">
          Buy now
          <svg class="nav-btn-icon" width="12" height="12">
            <use
              href="./images/svg/icon.svg#icon-small_arrow"
              class="arrow-icon"
            ></use>
          </svg>
        </button>
      </nav>
    </div>
  </div>
</header>
