<hero class="hero">
    <div class="hero__box">
        <div class="container">
            <div class="hero__title-number">
                <h1 class="hero__title">ice cream made with passion</h1>
                <ul class="hero-number__list list">
                    <li class="hero-number__item">16
                        <p class="hero-number__text">cafes</p>
                    </li>
                    <li class="hero-number__item">23
                        <p class="hero-number__text">food trucks</p>
                    </li>
                </ul>
            </div>
            <div class="hero__products-lorem">
                <ul class="hero__list list ">
                    <li class="hero__item">
                        <button onclick="window.location.href = '#products';" class="hero__btn">Products</button>
                    </li>
                    <li class="hero__item">
                        <a href="#about" class="hero__link">How it’s made?</a>
                    </li>
                </ul>
                <div class="hero__lorem">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button type="button" class="hero-lorem__btn">
                        <svg width="40" height="16">
                            <use href="./images/hero/icons.svg#icon-hero-btn-richtung"></use>
                        </svg>
                    </button>
                </div>
                
            </div>
            
        </div>
        <img src="./images/hero/ice-cream-dots-desktop.png" alt="plate" width="30" class="hero__dots-image">
        <img src="./images/hero/ice-cream-dots-left-768.png" alt="dots left" width="30" class="hero__dots-left-image">
        <img src="./images/hero/hero-plate-desktop.png" alt="plate" width="30" class="hero__plate-image">
        <img src="./images/hero/ice-cream-dots-right-768.png" alt="plate" width="30" class="hero__dots-right-image">
        <img src="./images/hero/ice-cream-desktop.png" alt="plate" width="30" class="hero__ice-cream-image">
    </div>
</hero>