<div class="backdrop is-hidden" data-modal-loc>
    <div class="Locations-modal">
        <button type="button" class="Locations-modal__btn" data-modal-loc-close>
         <svg width="14" height="14">
            <use href="./images/svg/icon.svg#icon-close_button_cross"></use>
         </svg>   
        </button>
        <p class="Locations-modal__heading">Our Locations</p>
     <iframe class="loc-iframe" src="https://www.google.com/maps/d/embed?mid=1qUOyxIjy-hlsqpYe8oyZ5-S3c3U&hl=en_US&ehbc=2E312F"
        style="border: 0"
        allowfullscreen="#"
        loading="lazy">
     </iframe>
           <div class="btn">
            <button type="submit" class="map__btn">Open map</button>
        </div>
    </div>
    </div>