<div class="backdrop is-hidden" data-modal-loc>
    <div class="Locations-modal">
        <button type="button" class="Locations-modal__btn" data-modal-loc-close>
         <svg width="14" height="14">
            <use href="./images/svg/icon.svg#icon-close_button_cross"></use>
         </svg>   
        </button>
        <p class="Locations-modal__heading">Our Locations</p>
     <iframe class="loc-iframe" src="https://www.google.com/maps/d/embed?mid=1qUOyxIjy-hlsqpYe8oyZ5-S3c3U&hl=en_US&ehbc=2E312F"
        style="border: 0"
        allowfullscreen="#"
        loading="lazy">
     </iframe>
        <div class="btn">
        <a href="https://www.google.com/maps/d/viewer?mid=1qUOyxIjy-hlsqpYe8oyZ5-S3c3U&hl=en_US&ll=49.58070861330465%2C34.561213230097735&z=14" class="map__btn">
         <span class="map-text">Open map</span>
       </a>
      </div>
    </div>
    </div>
   