<section class="modal">
  <div class="modal__container">
    <h1>Modal window</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, qui?
    </p>
    <ul class="content">
      <li>
        <svg class="icons" width="30," height="30">
          <use href="images/gallery/svg/icon.svg#icon-cow"></use>
        </svg>
        <p>Cow</p>
      </li>
      <li>
        <svg class="icons" width="30," height="30">
          <use href="images/gallery/svg/icon.svg#icon-facebook"></use>
        </svg>
        <p>Facebook</p>
      </li>
      <li>
        <svg class="icons" width="30," height="30">
          <use href="images/gallery/svg/icon.svg#icon-github"></use>
        </svg>
        <p>GitHub</p>
      </li>
      <li>
        <svg class="icons" width="30," height="30">
          <use href="images/gallery/svg/icon.svg#icon-icecream"></use>
        </svg>
        <p>IceCream</p>
      </li>
      <li>
        <svg class="icons" width="30," height="30">
          <use href="images/gallery/svg/icon.svg#icon-large_arrow"></use>
        </svg>
        <p>Large Arrow</p>
      </li>
      <li>
        <svg class="icons" width="30," height="30">
          <use href="images/gallery/svg/icon.svg#icon-small_arrow"></use>
        </svg>
        <p>Small Arrow</p>
      </li>
      <li>
        <svg class="icons" width="30," height="30">
          <use href="images/gallery/svg/icon.svg#icon-telegram"></use>
        </svg>
        <p>Telegram</p>
      </li>
      <li>
        <svg class="icons" width="30," height="30">
          <use href="images/gallery/svg/icon.svg#icon-weight"></use>
        </svg>
        <p>Weight</p>
      </li>
      <li>
        <svg class="icons" width="30," height="30">
          <use href="images/gallery/svg/icon.svg#icon-close_button_cross"></use>
        </svg>
        <p>Cross</p>
      </li>
    </ul>
  </div>
</section>

<section>
  <!-- ###################################### -->
  <div class="container">
    <button type="button" class="close-button">
      <svg width="20" height="20">
        <use href="images/gallery/svg/icon.svg#icon-close_button_cross"></use>
      </svg>
    </button>
    <div class="decor">
      <h2>Buy now</h2>
      <ul>
        <li>
          <img src="#" alt="" />
          <p>Ice cream</p>
        </li>
        <li>
          <img src="#" alt="" />
          <p>Ice coffee</p>
        </li>
        <li>
          <img src="#" alt="" />
          <p>Milkshake</p>
        </li>
      </ul>
      <form class="modal-form">
        <input type="text" name="user_name" placeholder="Name" />
        <input type="tel" name="user_tel" placeholder="Phone" />
        <textarea
          name="user_comment"
          id="user_comment"
          cols="30"
          rows="10"
          placeholder="Comment"
        ></textarea>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
