<section class="products">
    <div class="container">
        <p class="products__label">100% natural</p>
        <h1 class="products__hearder">products</h1>
        <ul class="products__list">
            <li class="products__item">
                <div class="products__box">
                    <h2 class="products__title">ice cream</h2>
                    <p class="products__description">Soft ice cream with a delicate taste. Made with milk, cream, sugar and
                        natural stabilizer</p>
                    <button type="button" class="products__button">
                        <svg class="products__button-icon" width="20" height="20">
                            <use href="images/products/products-icons.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>                
            </li>
            <li class="products__item">
                <h2 class="products__title">ice coffee</h2>
                <p class="products__description">Fragrant invigorating drink created from 100% natural ingredients
                    without the use of preservatives and flavor enhancers</p>
                <button type="button" class="products__button">
                    <svg class="products__button-icon" width="20" height="20">
                        <use href="images/products/products-icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item">
                <h2 class="products__title">milkshakes</h2>
                <p class="products__description">Sweet drinks based on milk and ice cream, supplemented with syrups,
                    fruits, berries and other sweets of your choice</p>
                <button type="button" class="products__button">
                    <svg class="products__button-icon" width="20" height="20">
                        <use href="images/products/products-icons.svg#icon-arrow"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>