<section class="reviews">
  <div class="reviews__container">
    <h2 class="reviews__title visually-hidden">CUSTOMER REVIEWERS</h2>
    <!-- Slider main container -->
    <div class="reviews__slider swiper mySwiper">
      <!-- Additional required wrapper -->
      <div class="slider__wrapper swiper-wrapper">
        <!-- Slides -->
        <div class="slider__slide swiper-slide">
          <div class="slide__container">
            <img
              srcset="
                ./images/reviews/reviews-photo1-1x.png 1x,
                ./images/reviews/reviews-photo1-2x.png 2x
              "
              src="./images/reviews/reviews-photo1-1x.png"
              alt="Emily"
              class="slide__image"
              width="85px"
              height="85px"
            />
            <div class="slide__wrapper">
              <p class="slide__text">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </p>
            </div>
            <p class="slide__label">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="slider__slide swiper-slide">
          <div class="slide__container">
            <img
              srcset="
                ./images/reviews/reviews-photo2-1x.png 1x,
                ./images/reviews/reviews-photo2-2x.png 2x
              "
              src="./images/reviews/reviews-photo2-1x.png"
              alt="Bryan"
              class="slide__image"
              width="85px"
              height="85px"
            />
            <div class="slide__wrapper">
              <p class="slide__text">
                Every day we come to you with friends after classes in college.
                We love your ice cream and casual atmosphere!
              </p>
            </div>
            <p class="slide__label">Bryan, New-York</p>
          </div>
        </div>
        <div class="slider__slide swiper-slide">
          <div class="slide__container">
            <img
              srcset="
                ./images/reviews/reviews-photo3-1x.png 1x,
                ./images/reviews/reviews-photo3-2x.png 2x
              "
              src="./images/reviews/reviews-photo3-1x.png"
              alt="Diana"
              class="slide__image"
              width="85px"
              height="85px"
            />
            <div class="slide__wrapper">
              <p class="slide__text">
                Ice cream is my passion! I love your chocolate hazelnut ice
                cream! And I really like the excellent service - always served
                politely and quickly!
              </p>
            </div>
            <p class="slide__label">Diana, Chicago</p>
          </div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
