.about-backdrop{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    
    background-color:rgba(0, 0, 0, 0.2);
    opacity: 1;
    z-index: 90;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.about-backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    & .about-modal{
        transform: translate(-50%, -50%) scale(0.5);
    }
}

.about-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 280px;
    height: 459px;
    border: $border-btn-primary;
    background-color: $color-white-primary;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   

    @include tablet{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
        width: 568px;
        height: 449px;

    }

    @include desktop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 568px;
    height: 449px;
    }
}

.about-modal__field{
    padding: 28px;
    width:100%;

    @include tablet{
        padding: 32px 60px;
    }
}

.about-modal__title{
    font-family: 'Seymour One';
    @include font(16, 400, 24, 0.04);
    color: $color-black-primary;
    display: flex;
    justify-content: center;

       @include tablet{
       font-size: 20px;
       line-height: 28px;
    }
    }

    .about-modal__text{
    text-align: left;
    margin-top: 20px;
    @include font(14, 400, 20, 0.02);
    color: $color-black-primary;
   
      @include tablet{
        margin-top: 32px;
        @include font(16, 400, 22, 0.02);
    
     }
    
    }

    .about-modal__video{
        margin-top: 20px; 
        width: 224px;
        height: 199px;
        border-radius: 10px;
     
         @include tablet{
        width: 448px;
        height: 205px;
        margin-top: 32px;
        border-radius: 10px;
         }
        }

        .about-btn-close{
            position: absolute;
            cursor: pointer;
            width: 20px;
            height: 20px;
            top: 12px;
            right: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            border-radius: 50%;
            fill:$color-black-primary;  
            background-color: $color-white-primary; 
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            
        
            &:hover,
            &:focus{
            background-color: $color-button-hover;
             
            @include tablet{
                width: 24px;
                height: 24px;
            }
        }
        }