.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .Franchise-modal {
  transform: translate(-50%, -50%) scale(0);
}

.Franchise-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 568px;
  background: $color-white-secondary;
  border: $border-btn-primary;
  border-radius: 10px;
  padding: 32px 60px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: 767px) {
    width: 280px;
    padding: 28px;
  }
}
.Franchise-modal__btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: $color-white-secondary;
  border-radius: 10px;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $color-button-hover;
  }
}

.modal__item-icon {
  width: 14px;
  height: 14px;
}
.Franchise-modal__heading {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  text-align: center;
  color: $color-black-primary;
  width: 322px;
  height: 84px;
  margin: auto;
  @media screen and (max-width: 767px) {
    width: 221px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.Franchise-modal__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.37;
  color: $color-black-primary;
  margin-top: 24px;
  margin-bottom: 32px;
  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: 1.42;
    margin-top: 20px;
    margin-bottom: 24px;
  }
}

.information {
  @media screen and (min-width: 478px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.information__input-group {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  @media screen and (max-width: 767px) {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
 }

.information__input {
  width: 368px;
  height: 42px;
  background: $bgcolor-modal-input;
  border: $border-modal-input;
  border-radius: 10px;
  resize: none;
  padding-left: 16px;
  &::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    color: $color-black-primary;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
    height: 32px;
    padding-left: 8px;
    &::placeholder {
      font-size: 12px;
      line-height: 1.42;
    }
  }
  &:not(:placeholder-shown):invalid{
    border: 2px solid red;
  }
}
.information__input:focus,
.information__input:hover {
  border: 1px solid $color-accent;
  outline: none;
}
.inform-text {
  height: 84px;
  resize: none;
  padding-top: 11px;
  @media screen and (max-width: 767px) {
    height: 64px;
    width: 100%;
    padding-top: 8px;
  }
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit__btn {
  width: 121px;
  height: 42px;
  background: $color-accent;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  border: none;

  color: $color-black-primary;
  cursor: pointer;
  padding: 12px 34px;
  margin-top: 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $color-button-hover;
  }
  &:focus {
    color: $color-white-primary;
  }
  @media screen and (max-width: 767px) {
      margin-top: 24px;
      width: 114px;
      font-size: 12px;
      line-height: 1.25;
    }
  }

