.nav-contact {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 8px;
  justify-content: space-between;
}
.nav {
  display: flex;
  align-items: center;

  @media screen and (min-width: 1200px) {
    padding-top: 8px;
    height: 65px;
  }

  &__list {
    @extend %list;
    display: none;

    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: 300px;
    }

    & .nav__item + .nav__item {
      margin-left: 0;

      @media screen and (min-width: 1200px) {
        margin-left: 28px;
      }
    }
  }

  &__link {
    @extend %link;
    position: relative;
    padding-top: 32px;
    padding-bottom: 13px;

    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $color-accent;
    }

    @media screen and (min-width: 1200px) {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;

      color: #fcfcfc;
    }
  }

  &__btn {
    align-items: center;
    justify-content: center;
    width: 152px;
    height: 42px;
    padding-top: 12px;
    padding-bottom: 12px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17 / 14);

    background: #f8d24e;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: $color-button-hover;
    }

    &:focus {
      background-color: $color-button-hover;
      color: $color-white-primary;
      fill: $color-white-primary;
    }

    &:disabled {
      background-color: #ababab;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      margin-left: 32px;
    }
  }
}

.logo {
  fill: $color-accent;
  padding-top: 10px;
  width: 40px;

  @media screen and (min-width: 480px) {
    width: 48px;
  }

  @media screen and (min-width: 1200px) {
    width: 60px;
  }
}
picture {
  width: 100%;
}

.menu-content {
  position: fixed;
  width: 100vw;
  height: 100vh;
  text-align: center;

  left: 0;
  top: 0;
  right: 0;
  z-index: 199;

  background-color: #84a178;
  transform: translateX(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-content.is-hidden {
  transform: translateX(100%);
  transition: transform 400ms linear;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-btn {
  display: block;
  margin-left: auto;
  margin-right: 0;

  background-color: none;
  border: none;
  fill: $color-white-secondary;

  padding-top: 12px;
  padding-right: 8px;
  padding-bottom: 12px;
  padding-left: 8px;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.mobile-menu {
  & .container {
    height: 100%;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: 16px;
  right: 20px;

  display: block;
  // margin-left: 195px;
  // margin-top: 12px;

  padding: 10px;

  border: none;
  background-color: transparent;
  fill: $color-white-primary;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $color-accent;
  }

  &:focus {
    fill: $color-accent;
  }

  @media screen and (min-width: 480px) {
    // margin-left: 345px;
  }

  @media screen and (min-width: 768px) {
    // margin-left: 615px;
  }
}

.mob-nav__list {
  padding-top: 51px;

  @media screen and (min-width: 480px) {
    padding-top: 40px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 76px;
  }
}

.mob-nav__link {
  @extend%link;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: calc(39 / 32);

  color: $color-white-primary;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $color-black-primary;
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(59 / 48);
  }
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-nav__btn {
  align-items: center;
  justify-content: center;
  width: 152px;
  height: 42px;
  padding-top: 12px;

  padding-bottom: 12px;
  margin-top: 110px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);

  background: #f8d24e;
  border-radius: 10px;
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:disabled {
    background-color: #ababab;
    border: #ababab;
  }

  &:hover {
    background-color: $color-button-hover;
  }

  &:focus {
    background-color: $color-button-hover;
    color: $color-white-primary;
    fill: $color-white-primary;
  }

  @media screen and (min-width: 480px) {
    margin-top: 114px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mob-content__logo {
  display: flex;
}
