.products {
    max-width: 1600px;

    padding: 60px 0;

    background-image: url(../images/products/Backgroud_mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: $color-black-primary;
}


.products__label {
    margin-bottom: 12px;

    @include font(18,800,22,0.04);
    text-align: center;
    
}

.products__hearder {
    margin-bottom: 148px;

    font-family: 'Seymour One';
    @include font(30, 400, 38, 0.04);
    text-align: center;
    text-transform: uppercase;
}

.products__list {
    @extend %list;
    display: flex;
    flex-direction: column;
    gap: 168px;
    align-items: center;
}

.products__item {
    padding: 123px 40px 16px;
    position: relative;
    
    width: 280px;
    height: 420px;

    background: $bgcolor-primary-light;
    border-radius: 24px;

    &::before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    
        content: "";
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-image: url(../images/products/ice-cream11.jpg);
    }

    &::after {
            position: absolute;
            top: 0;
            left: 50%;            
            transform: translate(-50%, -45.5%);
    
            content: "";
            width: 200px;
            height: 200px;
           
            border-radius: 50%;
            background-color: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)),
                #D9D9D9;
            box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
        }
}





.products__title {
    margin-bottom: 40px;

    @include font(20, 700, 24, 0.04);
    text-align: center;
    text-transform: uppercase;
}

.products__description {
    margin-bottom: 101px;

    @include font(14, 400, 25, 0.04);
    text-align: center;
}

.products__button {
    display: block;
}

//.products__button-icon {}