.products {
  padding-top: 60px;
  padding-bottom: 60px;

  background-image: url(../images/products/Backgroud-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $color-black-primary;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url(../images/products/Backgroud-mobile-2x.jpg);
    }
  }

  @include tablet {
    background-image: url(../images/products/Background-tablet.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url(../images/products/Background-tablet-2x.jpg);
      }
    }
  }

  @include desktop {
    background-image: url(../images/products/Backgroud-desktop.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      & {
        background-image: url(../images/products/Backgroud-desktop-2x.jpg);
      }
    }
  }
}

.products__label {
  margin-bottom: 12px;

  @include font(18, 800, 22, 0.04);
  text-align: center;
  text-transform: uppercase;

  @include tablet {
    @include font(22, 800, 27, 0.04);
  }

  @include desktop {
    @include font(30, 800, 37, 0.04);
  }
}

.products__hearder {
  margin-bottom: 148px;

  font-family: 'Seymour One';
  @include font(30, 400, 38, 0.04);
  text-align: center;
  text-transform: uppercase;

  @include mobile {
    margin-bottom: 145px;
  }

  @include tablet {
    @include font(34, 400, 43, 0.04);
    margin-bottom: 200px;
  }

  @include desktop {
    @include font(36, 400, 45, 0.06);
    margin-bottom: 303px;
  }
}

.products__list {
  @extend %list;
  display: flex;
  flex-direction: column;
  gap: 168px;
  align-items: center;

  @include tablet {
    flex-direction: row;
    gap: 16px;
    justify-content: center;
  }

  @include desktop {
    gap: 28px;
  }
}

.products__item {
  padding: 123px 40px 16px;
  position: relative;

  width: 280px;
  height: 420px;
  border-radius: 24px;

  @include mobile {
    width: 250px;
    height: 428px;
  }

  @include tablet {
    width: 224px;
    height: 428px;
    padding: 108px 26px 12px;
    border-radius: 15.7808px;
  }

  @include desktop {
    width: 370px;
    height: 536px;
    padding: 165px 64px 12px;
    border-radius: 24px;
  }

  &:nth-child(1) {
    background: $bgcolor-primary-light;

    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

      content: '';
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-image: url(../images/products/ice-cream11.jpg);
      background-repeat: no-repeat;
      background-size: contain;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-cream11-2x.jpg);
      }

      @include tablet {
        transform: translate(-50%, -61%);
      }

      @include desktop {
        width: 302px;
        height: 302px;
        background-image: url(../images/products/ice-cream11-desktop.jpg);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/products/ice-cream11-desktop-2x.jpg);
        }
      }
    }

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -45.5%);

      content: '';
      width: 200px;
      height: 200px;

      border-radius: 50%;
      background-color: linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);

      @include tablet {
        transform: translate(-50%, -55%);
      }

      @include desktop {
        width: 302px;
        height: 302px;
        transform: translate(-50%, -55.6%);
      }
    }
  }

  &:nth-child(2) {
    background: $bgcolor-accent-light;

    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

      content: '';
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-image: url(../images/products/ice-coffee11.jpg);
      background-repeat: no-repeat;
      background-size: contain;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/ice-coffee11-2x.jpg);
      }

      @include tablet {
        transform: translate(-50%, -61%);
      }

      @include desktop {
        width: 302px;
        height: 302px;
        background-image: url(../images/products/ice-coffee11-desktop.jpg);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/products/ice-coffee11-desktop-2x.jpg);
        }
      }
    }

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -45.5%);

      content: '';
      width: 200px;
      height: 200px;

      border-radius: 50%;
      background: linear-gradient(
          0deg,
          rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);

      @include tablet {
        transform: translate(-50%, -55%);
      }

      @include desktop {
        width: 302px;
        height: 302px;
        transform: translate(-50%, -55.6%);
      }
    }
  }

  &:nth-child(3) {
    background: $bgcolor-secondary;

    &::before {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

      content: '';
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-image: url(../images/products/milkshakes11.jpg);
      background-repeat: no-repeat;
      background-size: contain;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/products/milkshakes11-2x.jpg);
      }

      @include tablet {
        transform: translate(-50%, -61%);
      }

      @include desktop {
        width: 302px;
        height: 302px;
        background-image: url(../images/products/milkshakes11-desktop.jpg);

        @media (min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
          background-image: url(../images/products/milkshakes11-desktop-2x.jpg);
        }
      }
    }

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -45.5%);

      content: '';
      width: 200px;
      height: 200px;

      border-radius: 50%;
      background: linear-gradient(
          0deg,
          rgba(213, 117, 63, 0.7),
          rgba(213, 117, 63, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);

      @include tablet {
        transform: translate(-50%, -55%);
      }

      @include desktop {
        width: 302px;
        height: 302px;
        transform: translate(-50%, -55.6%);
      }
    }
  }
}

.products__title {
  margin-bottom: 40px;

  @include font(20, 700, 24, 0.04);
  text-align: center;
  text-transform: uppercase;

  @include tablet {
    @include font(22, 700, 27, 0.04);
  }

  @include desktop {
    @include font(30, 700, 37, 0.04);
  }
}

.products__description {
  @include font(14, 400, 25, 0.04);
  text-align: center;

  @include desktop {
    @include font(16, 400, 28, 0.04);
  }
}

.products__button {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);

  display: block;
  padding: 10px;
  

  cursor: pointer;
  color: $color-black-primary;
  background-color: transparent;
  border-color: transparent;
  border: none;

  @include tablet {
    bottom: 2px;
  }

  @include desktop {
    bottom: 50px;
  }
}

.products__button-icon {
  fill: currentColor;
}


// ---- Modal window About products -------

.products__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 3;
  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.products__modal {
  padding: 28px 20px;
  width: 280px;
  margin: 0 auto;
    
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  background: #FCFCFC;
  border: 2px solid #F8D24E;
  border-radius: 10px;

  @include tablet {
    width: 568px;
    padding: 32px 40px;
  }
}

.products__modal-header {
  padding-bottom: 181px;
  position: relative;

  font-family: 'Seymour One';
  @include font(20, 400, 28, 0.04);
  text-align: center;

  &::before {
    width: 132px;
    height: 132px;
    position: absolute;
    left: 50%;
    bottom: 29px;
    transform: translate(-50%, 0);
    display: inline-block;
    z-index: 1;

    content: "";
    text-align: center;
    border-radius: 50%;
    background-image: url(../images/products/chocolate-icecream.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/products/chocolate-icecream-2x.jpg);
    }
  }

  &::after {
    width: 132px;
    height: 132px;
    position: absolute;
    left: 50%;
    bottom: 22px;
    transform: translate(-50%, 0);

    content: "";
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  }

  @include tablet {
    padding-bottom: 187px;
  }
}

.products_comp-list {
  display: flex;
  gap: 9px;
  justify-content: center;
  margin-bottom: 40px;

  @extend %list;

  @include tablet {
      gap: 20px;
      margin-bottom: 48px;
    }
}

.products__comp {
  position: relative;
  width: 53px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 8px;

  @include font(10, 400, 12, 0.04);

  border: 2px solid #9CBE8F;
  border-radius: 40px;

  @include tablet {
    width: 65px;
    height: 90px;
    @include font(12, 400, 15, 0.04);
  }

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    display: flex;
    justify-content: center;
    align-items: center;

    content: "";
    width: 43px;
    height: 43px;

    @include font(10, 500, 28, 0.04);

    background: #9CBE8F;
    border: 2px solid #9CBE8F;
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
    border-radius: 50%;

    @include tablet {
      width: 53px;
      height: 53px;
      @include font(12, 500, 28, 0.04);
    }
  }

  &:nth-child(1)::before {
    content: "302";
  }

  &:nth-child(2)::before {
    content: "4g";
  }

  &:nth-child(3)::before {
    content: "8,2g";
  }

  &:nth-child(4)::before {
    content: "40,4g";
  }
}

.products__ing-hearder {
  margin-bottom: 24px;

  @include font(20, 500, 28, 0.04);
  text-align: center;
}

.products__ing-list {
  @extend %list;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 11px;

  @include tablet {
      margin-bottom: 48px;
  }
}

.products__ing-item {
    @include font(14, 400, 25, 0.04);

    &:nth-child(2n+1){
      flex-basis:70%;
      text-align: left;
    }

    &:nth-child(2n+2) {
      flex-basis: 30%;
      text-align: right;
    }
}


.products__input input {
  width: 100%;
  height: 42px;
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
  padding: 11px 10.43px;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
  @include font(14, 400, 20, 0.04);
  
  &:not(:placeholder-shown):invalid{
    border: 2px solid red;
  }

  &:hover,:focus{
    border: 2px solid #F8D24E;
  }

  @include tablet {
      width: 368px;
  }
}



.products__textarea textarea {
  width: 100%;
  min-height: 84px;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 11px 10.43px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;
  @include font(14, 400, 20, 0.04);
  resize: vertical;

  &:hover,:focus {
      border: 2px solid #F8D24E;
  }

  @include tablet {
      width: 368px;
      margin-bottom: 32px;
    }
}


.products_submit-btn {
  @extend %btn-primary;
  display: block;
  margin: 0 auto;
}


.products__close-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: $color-black-primary;
  cursor: pointer;

  &:hover, &:focus{
    background-color: $color-button-hover;
  }

  @include tablet {
    width: 24px;
    height: 24px;
  }
}


.modal-close-icon {
  fill: currentColor;
}

